#fan{
    margin: 350px;
    width: 450px;
    height: 450px;
    /* background-color: orangered; */
    transition: transform 300ms;
    background-image: url("./../images/fan.png");
    background-size: 450px;
}